.home-view{
    height: 100%;

    background-image: linear-gradient(to bottom right, #58e6bb, #ebbe43);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.session, .profile{
    width: 300px;
    height: 500px;

    outline: .25rem solid rgba(0, 0, 0, 0.404);
    border-top: .25rem solid white;
    border-bottom: .25rem solid rgba(0, 0, 0, 0.226);
    border-radius: 1rem;

    background-color: rgba(0, 0, 0, 0.226);

    padding: 1rem;

    display: grid;
    justify-content: center;
    align-content: center;
}

.session{
    grid-template-rows: repeat(2, 5rem);
}

.session-button, .username{
    position: relative; 

    width: 100%;
    height: fit-content;

    padding: .5rem 1rem;

    border-radius: 1rem;
    outline: 0;
    border: 0;
    

    cursor: pointer;

    transition: all 150ms ease-in;

    font-weight: 500;
    color: hsl(273, 34%, 20%);
}

.session-button{
    border-top: .25rem solid #8f64b341;
    border-bottom: .5rem solid #8f64b3;

    cursor: pointer;

    transition: all 150ms ease-in;

    &:hover, &:focus-visible{
        border-bottom: .25rem solid #8f64b3;
        transform: translateY(.25rem);
    }
}

.username{
    text-align: center;
}


.profile-icon{
    background: white;

    width: 10rem;
    height: 10rem;

    border-radius: 100%;
}