.home-view{
    height: 100%;

    background-image: linear-gradient(to bottom right, #58e6bb, #ebbe43);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.session, .profile{
    width: 300px;
    height: 500px;

    outline: .25rem solid rgba(0, 0, 0, 0.404);
    border-top: .25rem solid white;
    border-bottom: .25rem solid rgba(0, 0, 0, 0.226);
    border-radius: 1rem;

    background-color: rgba(0, 0, 0, 0.226);

    padding: 1rem;

    display: grid;
    justify-items: center;
    align-content: center;
    gap: 1rem;
}

.session{
    grid-template-rows: repeat(2, 4rem);
}

.session-button, .username{
    position: relative; 

    width: 100%;

    padding: .5rem 1rem;

    border-radius: 1rem;
    outline: 0;
    border: 0;

    font-weight: 500;
    color: #352244;
}

.session-button{
    border-top: .25rem solid #8f64b341;
    border-bottom: .5rem solid #8f64b3;

    cursor: pointer;

    transition: all 100ms ease-in;

    &:hover, &:focus-visible{
        border-bottom: .25rem solid #8f64b3;
        transform: translateY(.25rem);
    }

    &:active{
        border-bottom: .2rem solid #8f64b3;
        transform: translateY(.4rem);
    }
}

.username{
    text-align: center;
}


.profile-icon{
    position: relative;

    background: white;

    width: 10rem;
    height: 10rem;

    border-radius: 100%;

    display: grid;

    & > * {
        grid-column: 1;
        grid-row: 1;
    }

    & > img{
        border-radius: 100%;
    }
}

button.reroll{
    width: 3rem;
    height: 3rem;
 
    position: absolute;
    bottom: 0;
    right: 0;

    border-radius: 100%;

    background-color: white;

    cursor: pointer;

    outline: 0;
    border: .25rem solid #8f64b3;

    transition: all 100ms ease-in;
    
    &:hover, &:focus-visible{
        scale: 1.05;
    }

    &:active{
        scale: 0.95;
    }

    & > img{
        object-fit: contain;
    }
}